<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="абсцесс_легкого" serializeAs="String">
                <value>АБСЦЕСС ЛЕГКОГО

Абсцесс легкого — это ограниченный гнойный процесс (гнойник) в легком.
______________________________________________
Основные признаки
Чаще возникает после пневмонии, сопровождается внезапным ухудшением состояния больного. Появляются сильная лихорадка, озноб, обильный пот, мучительный кашель с умеренным количеством гнойной мокроты, боли в боку, слабость, малоподвижность, артралгия, одышка. Пораженная сторона отстает в акте дыхания.
При прорыве гнойника происходит резкое увеличение количества отделяемой мокроты (в зависи-мости от величины абсцесса иногда выделяется до 1,5 л в сутки). Также уменьшаются явления интокси-кации (снижение температуры, лейкоцитоза в крови), боли и чувство тяжести на стороне поражения, проходит одышка, общее состояние улучшается.
При формировании хронического абсцесса продолжает беспокоить кашель с выделением гнойной мокроты. Температура тела повышена, при задержке гноя достигает высоких цифр. Остаются признаки интоксикации: слабость, быстрая утомляемость, головные боли.
С течением времени лицо становится одутловатым, видимые слизистые оболочки приобретают цианотичный оттенок, утолщаются концевые фаланги пальцев рук («барабанные палочки»), изменяется форма ногтей («часовые стекла»). Заболевание протекает с периодами обострении, во время которых наблюдаются одышка, усиление кашля, увеличение количества отделяемой гнойной мокроты с гнило-стным запахом. В мокроте нередко имеются прожилки крови. При глубоком вдохе на стороне пораже-ния иногда отмечаются боли.
______________________________________________
Необходимые исследования
Общий анализ крови, общий анализ мочи, биохимическое исследование крови, флюорография, рентген (томография).
</value>
            </setting>
            <setting name="альвеолит" serializeAs="String">
                <value>АЛЬВЕОЛИТ

Это группа распространенных воспалительных процессов в легких с тенденцией к формированию склерозирования дыхательной ткани.
______________________________________________
Основные признаки
Отмечаются лихорадка, кашель с мокротой и быстро нарастающая одышка. В отдельных случаях болезнь развивается постепенно и характеризуется прогрессирующей одышкой, кашлем, со скудной мокротой, чувством стеснения в груди. С течением времени нарастает дыхательная недостаточность, появляется синюшность кожи.
______________________________________________
Необходимые исследования
Рентгенография, дыхательные пробы, бронхоскопия, общий анализ крови, биопсия легочной ткани, цитологическое и иммунологическое исследование бронхоальвеолярных смывов, радионуклидное ис-следование легких, биохимический анализ крови, иммунологический анализ крови.
</value>
            </setting>
            <setting name="бронхиальная_астма" serializeAs="String">
                <value>БРОНХИАЛЬНАЯ АСТМА

Бронхиальная астма — это хроническое заболевание, основными признаками которого являются- приступы или периодические состояния удушья.
______________________________________________
Основные признаки
В начальной стадии выявляется аллергический риносинусит. Отмечается приступообразный кашель (сухой или с выделением небольшого количества слизистой вязкой мокроты), который не облегчается обычными противокашлевыми препаратами и устраняется средствами лечения бронхиальной астмы. Приступы кашля чаще всего возникают ночью или в предутренние часы. Обычно кашель остается после перенесенной ОРВИ или обострения хронического бронхита, пневмонии. В последующих стадиях раз-вития бронхиальной астмы основными ее проявлениями становятся приступы удушья, а при тяжелом течении — состояния прогрессирующего удушья, называемые астматическим статусом.
______________________________________________
Необходимые исследования
Общий анализ крови, общий анализ мочи, ЭКГ, бронхоскопия, дыхательные пробы, биохимия крови.</value>
            </setting>
            <setting name="бронхиолит" serializeAs="String">
                <value>БРОНХИОЛИТ

Это воспаление мелких бронхов, отвечающих за газообмен в легких.
______________________________________________
Основные признаки
Заболевание проявляется резким ухудшением состояния. Температура тела повышается до 38,5-39°. Возникает резкая одышка. Дыхание становится поверхностным, с участием вспомогательной мускула-туры. Характерен мучительный кашель со скудной слизистой мокротой. Отмечаются бледность и си-нюшность кожи. Больные обычно возбуждены, беспокойны. Могут развиться апатия, вялость, сонли-вость, кома. Часто возникают симптомы сердечно-сосудистой недостаточности (снижение АД, тахикар-дия).
______________________________________________
Необходимые исследования
Рентгенологическое исследование легких, бронхоскопия, общий анализ крови, биохимия крови, биопсия.
</value>
            </setting>
            <setting name="бронхит" serializeAs="String">
                <value>БРОНХИТ

Бронхит — воспаление бронхов. Бывает острым и хроническим.
______________________________________________
Основные признаки острого бронхита
Заболевание начинается с появления сухого раздражающего кашля, частого и болезненного, кото-рый в течение 2-3 дней переходит во влажный, начинает отходить слизисто-гнойная мокрота. Могут появиться приступообразный кашель, одышка. Кашель становится все более мучительным, иногда с примесью крови. Отмечаются боли в нижних отделах грудной клетки, вызванные кашлем и судорож-ным сокращением диафрагмы, общая слабость, недомогание, разбитость, головные боли и головокружения.
Температура тела в течение первых нескольких дней нормальная; в более тяжелых случаях повы-шается до 37,5-38° и выше. Могут наблюдаться тахикардия, повышенная потливость, потеря аппетита, нарушение сна.
Необходимые исследования
Рентген, общий анализ крови, общий анализ мочи, пневмотахиметрия, биохимия крови.
Основные признаки хронического бронхита
Наблюдаются кашель (сухой или влажный), отделение мокроты различного количества и характера. Кашель возникает приступообразно, в основном по утрам. Развитие одышки происходит медленно, ха-рактерными являются обострения, сопровождающиеся кашлем с выделением большого количества гнойной или слизисто-гнойной мокроты.
Отмечаются повышенная утомляемость, слабость, боли в мышцах груди и живота (вызванные час-тым кашлем). Температура тела нормальная. Вначале одышка беспокоит при физической нагрузке, за-тем, становится постоянной. Выраженность ее увеличивается в периоды обострения. При поражении мелких бронхов, помимо одышки, наблюдаются цианоз и приступообразный малопродуктивный ка-шель, усиливающийся при переходе из теплого помещения на холод.
______________________________________________
Необходимые исследования
Общий анализ крови, общий анализ мочи, бронхоскопия, рентген, биохимия крови, цитологическое исследование смывов из бронхиального дерева, биопсия слизистой оболочки, посев содержимого брон-хов на микрофлору и чувствительность к антибиотикам, дыхательные пробы, пневмотахиметрия.
</value>
            </setting>
            <setting name="гайморит" serializeAs="String">
                <value>ГАЙМОРИТ

Гайморит — воспаление верхнечелюстной пазухи (одной из придаточных пазух носа).
______________________________________________
Основные признаки острого гайморита
Основным симптомом является чувство давления и напряжения в области пораженной пазухи, в бо-лее тяжелых случаях присоединяются сильные боли, локализующиеся часто не только в пределах верх-нечелюстной пазухи, но и в области лба, скуловой области, реже — виска, захватывая всю половину лица (при одностороннем процессе) или всю лицевую поверхность (при двустороннем процессе). К этим симптомам нередко присоединяется зубная боль в соответствующей половине верхней челюсти, усили-вающаяся при жевании. Нарушается носовое дыхание, появляются выделения из носа. В первые дни заболевания, особенно при гнойной и смешанной формах гайморита, отмечаются повышение темпера-туры тела, озноб, расстройства общего состояния. Наблюдается отечность щеки на стороне поражения, иногда отек нижнего века.
Основные признаки и диагностика хронического гайморита
Характерен длительный одно- или двусторонний насморк. Выделения из носа могут быть гнойны-ми, слизистыми, водянистыми. Боли в хронических случаях не достигают такой интенсивности, как при острых процессах. Головные боли нередко отсутствуют; в случаях стойкой заложенности носа они имеют чаще разлитой, неопределенный характер, но могут локализоваться в области челюстной пазухи, в виске или глазнице, реже — в области лба или иметь характер невралгии тройничного нерва. Обоняние может быть ослаблено или отсутствовать вовсе. Объективно отмечается отечность щеки и век.
______________________________________________
Необходимые исследования
Общий анализ крови, биохимия крови, рентген, пункция пазухи и бакпосев жидкости, риноскопия.</value>
            </setting>
            <setting name="катаральная_ангина" serializeAs="String">
                <value>АНГИНА

Ангина — острое инфекционное заболевание, при котором воспалительные изменения выражены преимущественно в небных миндалинах.
______________________________________________
Основные признаки катаральной ангины
Катаральная ангина начинается остро. Отмечаются першение, сухость и небольшая болезненность в горле при глотании. Одновременно наблюдаются общее недомогание, разбитость, слабость, головная боль. Температура тела может варьироваться от 37,2-37,3 до 39*-40°. При осмотре выявляются увели-ченные небные миндалины.
______________________________________________
Необходимые исследования
Фарингоскопия, общий анализ крови, исследование формулы крови, бакпосев отделяемого с миндалин.
</value>
            </setting>
            <setting name="лакунарная_ангина" serializeAs="String">
                <value>АНГИНА

Ангина — острое инфекционное заболевание, при котором воспалительные изменения выражены преимущественно в небных миндалинах.
______________________________________________
Основные признаки лакунарной ангины
Наблюдаются разбитость, недомогание, общая слабость, головная боль. Температура, как правило, высокая — до 40°. При лакунарной ангине – налет светло-желтого цвета расположен в устьях лакун.
______________________________________________
Необходимые исследования
Фарингоскопия, общий анализ крови, исследование формулы крови, бакпосев отделяемого с миндалин.</value>
            </setting>
            <setting name="ларингит" serializeAs="String">
                <value>ЛАРИНГИТ

Ларингит — воспаление слизистой оболочки гортани.
______________________________________________
Основные признаки
Сухость, першение, саднение, царапанье в горле, иногда боль при глотании. Кашель вначале сухой, а в дальнейшем сопровождается отхождением мокроты. Голос становится хриплым, грубым или пропа-дает. Ларингит может протекать с головной болью, небольшим повышением температуры тела. Про-должительность его обычно не превышает 7-10 дней.
______________________________________________
Необходимые исследования
ЛОР-осмотр, общий анализ крови, бактериоскопическое исследование, флюорография.</value>
            </setting>
            <setting name="плеврит" serializeAs="String">
                <value>ПЛЕВРИТ

Плевритом называют воспаление плевральных листков, сопровождающееся образованием на их по-верхности фибринозных наложений и скоплением в плевральной полости жидкости.
______________________________________________
Основные признаки сухого плеврита
Доминирует выраженный болевой синдром. Боли локализуются чаще всего в заднебоковых отделах нижней части грудной клетки. Общее состояние остается удовлетворительным. Отмечаются невысокая температура, недомогание, слабость, уменьшение дыхательных движений на пораженной стороне.
Основные признаки серозного плеврита
При значительном количестве жидкости отмечается одышка, иногда синюшность. Наблюдается вы-нужденное полусидячее положение с наклоном в больную сторону. Обращает на себя внимание огра-ничение дыхательных движений, сглаженность или даже выбухание межреберных промежутков на больную сторону.
______________________________________________
Необходимые исследования
Общий анализ мочи, общий анализ крови, биохимия крови, рентген, пункция плевральной полости, цитологическое исследование пуйктата.
</value>
            </setting>
            <setting name="пневмония" serializeAs="String">
                <value>ПНЕВМОНИЯ

Пневмония — это инфекционное воспаление легочной ткани, поражающее все структуры легких с обязательным вовлечением альвеол.
______________________________________________
Основные признаки
Заболевание начинается остро. Внезапно появляются сильная головная боль, резкая- слабость, по-вышение температуры до 39-40° и более, нередко наблюдается сотрясающий озноб. Возникают боли в грудной клетке с максимумом локализации над пораженным участком легкого, усиливающиеся при вдохе и кашле. Дыхание поверхностное и частое, щадящее пораженную сторону. Со второго дня появ-ляется небольшое количество слизистой, вязкой, с трудом отделяющейся мокроты, содержащей в ряде случаев прожилки крови. Очень быстро мокрота может приобретать коричнево-красную окраску. Коли-чество отделяемой мокроты увеличивается, однако не превышает в большинстве случаев 50-100 мл в сутки. Заметно покраснение щек, синюшность губ и конечностей.
______________________________________________
Необходимые исследования
ЭКГ, рентген, общий анализ крови, общий анализ мочи, биохимия крови.</value>
            </setting>
            <setting name="тонзиллит" serializeAs="String">
                <value>ТОНЗИЛЛИТ

Тонзиллит – хроническое воспаление небных миндалин. Заболевание часто встречается как у взрос-лых, так и у детей.
______________________________________________
Основные признаки 
Покраснение и рыхлость в лакунах миндалин, иногда пораженной оказывается лимфоидная ткань миндалин с абсцедированием фолликулов и образованием вокруг сосудов единичных или множествен-ных уплотнений. Миндалины становятся рыхлыми, ноздреватыми, с неровной поверхностью. Наблю-даются кашель, першение, боль при глотании. Несколько повышена температура.
______________________________________________
Необходимые исследования
Общий анализ крови, общий анализ мочи, биохимия крови, флюорография, врачебный, осмотр.</value>
            </setting>
            <setting name="трахеит" serializeAs="String">
                <value>ТРАХЕИТ

Трахеит — острая воспалительная реакция слизистой оболочки трахеи, вызванная вирусными, бак-териальными или вирусно-бактериальными инфекциями.
______________________________________________
Основные признаки
Болезненный сухой или с отделением мокроты кашель, чувство жжения за грудиной, затруднение дыхания, хриплый голос. Кашель становится приступообразным, приводит к головной боли и иногда к коллапсу. Беспокоит чаще по ночам и утром, провоцируется глубоким вдохом. Общее состояние обыч-но страдает незначительно. Температура может быть немного повышена, особенно по вечерам.
______________________________________________
Необходимые исследования
Общий анализ крови, общий анализ мочи, биохимия крови, флюорография, врачебный осмотр.</value>
            </setting>
            <setting name="фолликулярная_ангина" serializeAs="String">
                <value>АНГИНА

Ангина — острое инфекционное заболевание, при котором воспалительные изменения выражены преимущественно в небных миндалинах.
______________________________________________
Основные признаки фолликулярной ангины
Наблюдаются разбитость, недомогание, общая слабость, головная боль. Температура, как правило, высокая — до 40°. При фолликулярной ангине на поверхности покрасневших миндалин отмечаются белесовато-желтый налет или нагноившиеся пузырьки-фолликулы. При вскрытии фолликула в околоминдальную клетчатку может образоваться абсцесс. Вскрытие гнойных фолликулов сопровождается резким снижением температуры. 
______________________________________________
Необходимые исследования
Фарингоскопия, общий анализ крови, исследование формулы крови, бакпосев отделяемого с миндалин.</value>
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </userSettings>
</configuration>