<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoMona.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CryptoMona.Properties.Settings>
            <setting name="Ru" serializeAs="String">
                <value>абвгдеёжзийклмнопрстуфхцчшщъыьэюя 0123456789</value>
            </setting>
            <setting name="En" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZ</value>
            </setting>
        </CryptoMona.Properties.Settings>
    </userSettings>
</configuration>